<!-- components/SearchBar.vue -->
<template>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
  
      <v-toolbar-title>
        Netflix Vue
      </v-toolbar-title>
  
      <v-spacer></v-spacer>
  
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Pesquisar"
        single-line
        hide-details
      ></v-text-field>
    </v-app-bar>
  </template>
  
  <script>
  export default {
    data() {
      return {
        search: '',
      };
    },
    methods: {
      toggleDrawer() {
        // Adicione lógica para mostrar/ocultar o menu lateral se necessário
      },
    },
  };
  </script>
  
  <style scoped>
  /* Adicione estilos conforme necessário */
  </style>
  