<!-- components/SeriesList.vue -->
<template>
    <v-row>
      <v-col
        v-for="serie in series"
        :key="serie.id"
        cols="12"
        sm="6"
        md="4"
        lg="3"
      >
        <v-card>
          <v-img
            :src="serie.image"
            alt="Série"
            height="200"
          ></v-img>
  
          <v-card-title>{{ serie.title }}</v-card-title>
  
          <v-card-subtitle>{{ formattedReleaseYear(serie.release_year) }}</v-card-subtitle>
  
          <v-card-text>
            <strong>Directors:</strong> {{ serie.directors.join(', ') }}<br>
            <strong>Cast:</strong> {{ serie.cast.join(', ') }}<br>
            <strong>Countries:</strong> {{ serie.countries.join(', ') }}<br>
            <strong>Date Added:</strong> {{ formattedDate(serie.date_added) }}<br>
            <strong>Rating:</strong> {{ serie.rating }}<br>
            <strong>Duration:</strong> {{ serie.duration }} mins<br>
            <strong>Listed In:</strong> {{ serie.listed_in.join(', ') }}<br>
            <strong>Description:</strong> {{ serie.description }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </template>
  
  <script>
  export default {
    props: {
      series: Array,
    },
    methods: {
      formattedDate(date) {
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString(undefined, options);
      },
      formattedReleaseYear(date) {
        return new Date(date).getFullYear();
      },
    },
  };
  </script>
  
  <style scoped>
  /* Adicione estilos conforme necessário */
  </style>
  