<!-- views/Home.vue -->
<template>
  <v-container>
    <search-bar></search-bar>
    <series-list :series="series"></series-list>
  </v-container>
</template>

<script>
import SearchBar from "@/components/SearchBar.vue";
import SeriesList from "@/components/SeriesList.vue";

export default {
  components: {
    SearchBar,
    SeriesList,
  },
  data() {
    return {
      series: [
        {
          id: 1,
          title: "Stranger Things",
          directors: ["Yuri", "Bruno"],
          cast: ["Jalim", "Rabei"],
          countries: ["Brasil, Italy"],
          date_added: new Date(2023, 10, 27),
          release_year: new Date(2013),
          rating: "PG-13",
          duration: 90,
          listed_in: ["Documentaries", "Drama"],
          description: "abcd"

        },
        // Adicione mais séries conforme necessário
      ],
    };
  },
};
</script>
